Checks: '-*,portability-*,performance-*,readability-identifier-naming'
CheckOptions:
 - { key: readability-identifier-naming.ClassCase,                      value: CamelCase        }
 - { key: readability-identifier-naming.ClassConstantCase,              value: UPPER_CASE       }
 - { key: readability-identifier-naming.ClassMethodCase,                value: camel_Snake_Back }
 - { key: readability-identifier-naming.ClassMemberCase,                value: lower_case       }
 - { key: readability-identifier-naming.ConstantCase,                   value: UPPER_CASE       }
 - { key: readability-identifier-naming.ConstantMemberCase,             value: UPPER_CASE       }
 - { key: readability-identifier-naming.ConstantPointerParameterCase,   value: UPPER_CASE       }
 - { key: readability-identifier-naming.ConstantPointerParameterSuffix, value: "_PTR"           }
 - { key: readability-identifier-naming.ConstexprVariableCase,          value: UPPER_CASE       }
 - { key: readability-identifier-naming.EnumCase,                       value: UPPER_CASE       }
 - { key: readability-identifier-naming.EnumConstantCase,               value: UPPER_CASE       }
 - { key: readability-identifier-naming.FunctionCase,                   value: camel_Snake_Back }
 - { key: readability-identifier-naming.LocalConstantCase,              value: UPPER_CASE       }
 - { key: readability-identifier-naming.LocalConstantPointerCase,       value: UPPER_CASE       }
 - { key: readability-identifier-naming.LocalConstantPointerSuffix,     value: "_PTR"           }
 - { key: readability-identifier-naming.LocalPointerCase,               value: lower_case       }
 - { key: readability-identifier-naming.LocalPointerSuffix,             value: "_ptr"           }
 - { key: readability-identifier-naming.LocalVariableCase,              value: lower_case       }
 - { key: readability-identifier-naming.MemberCase,                     value: camel_Snake_Back }
 - { key: readability-identifier-naming.MethodCase,                     value: camel_Snake_Back }
 - { key: readability-identifier-naming.NamespaceCase,                  value: camelBack        }
 - { key: readability-identifier-naming.ParameterCase,                  value: camel_Snake_Back }
 - { key: readability-identifier-naming.ParameterPackCase,              value: camel_Snake_Back }
 - { key: readability-identifier-naming.PrivateMemberCase,              value: camel_Snake_Back }
 - { key: readability-identifier-naming.PrivateMemberSuffix,            value: "_"              }
 - { key: readability-identifier-naming.PrivateMethodCase,              value: camel_Snake_Back }
 - { key: readability-identifier-naming.ProtectedMethodCase,            value: camel_Snake_Back }
 - { key: readability-identifier-naming.PublicMemberCase,               value: camel_Snake_Back }
 - { key: readability-identifier-naming.PublicMethodCase,               value: camel_Snake_Back }
 - { key: readability-identifier-naming.StaticConstantCase,             value: UPPER_CASE       }
 - { key: readability-identifier-naming.StaticVariableCase,             value: camel_Snake_Back }
 - { key: readability-identifier-naming.StructCase,                     value: CamelCase        }
 - { key: readability-identifier-naming.TypedefCase,                    value: CamelCase        }
 - { key: readability-identifier-naming.UnionCase,                      value: CamelCase        }
 - { key: readability-identifier-naming.VariableCase,                   value: camel_Snake_Back }
 - { key: readability-identifier-naming.VirtualMethodCase,              value: camel_Snake_Back }