include: "ci-variables.yml"

cache: &global
  key: ${CI_PROJECT_ID}_global_cache
  paths:
    - ${CI_PROJECT_DIR}/.conan
  policy: pull

stages:
  - build
  - test
  - analyze
  - document
  - package
  - deploy

.setup:
  tags:
    - conan
  before_script:
    - conan config set storage.download_cache="${CI_PROJECT_DIR}/.conan"
    - conan config set storage.path="${CI_PROJECT_DIR}/.conan/data"
    - conan config get storage.download_cache

build:
  extends: .setup
  stage: build
  tags:
    - conan
  script:
    - pip3 install --upgrade conan
    - conan remote add upload_repo ${CONAN_REMOTE}
    - mkdir build
    - cd build
    - cmake ${CMAKE_VARIABLES} ..
    - cmake --build . --target all --config Debug --
  cache:
    <<: *global
    policy: pull-push
  artifacts:
    paths:
      - build/

run_tests:
  extends: .setup
  stage: test
  needs: ["build"]
  tags:
    - conan
  script:
    - cd build
    - ctest --verbose
  after_script:
    - cd ..
  artifacts:
    paths:
      - build/

analyze_memory_usage:
  extends: .setup
  stage: analyze
  needs: ["build"]
  tags:
    - conan
  script:
    - python3 utility/runValgrind.py ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Valgrind_Results"
    paths:
      - valgrind-results.log
  only:
    variables:
      - $RUN_VALGRIND == "true"
  allow_failure: true

check_code_coverage:
  extends: .setup
  stage: analyze
  needs: ["build", "run_tests"]
  tags:
    - conan
  script:
    - python3 utility/checkCodeCoverage.py ${RUN_VALGRIND} ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
    paths:
      - code_coverage_report/

generate_autodoc:
  stage: document
  tags:
    - conan
  script:
    - doxygen utility/Doxyfile
  cache: {}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
    paths:
      - docs/code_documentation/
    expire_in: 30 days
  allow_failure: true

.package:
  stage: package
  variables:
    GIT_STRATEGY: clone
  tags:
    - conan
  before_script:
    - pip3 install --upgrade conan
    - conan remote add upload_repo ${CONAN_REMOTE}
    - PROJECT_NAME=$(python3 ./utility/getProjectName.py)
  allow_failure: true

package:stable:
  extends: .package
  script:
    - VERSION=$(python3 ./utility/getVersionFromTag.py)
    - conan create ./conan/ ${VERSION}@hahn-schickard/stable --build=missing
    - conan upload ${PROJECT_NAME}/${VERSION}@hahn-schickard/stable -r upload_repo
  only:
    - /Release_v*/

pages:
  stage: deploy
  needs: ["build", "run_tests", "check_code_coverage", "generate_autodoc"]
  tags:
    - conan
  script:
    - python3 utility/createAmalgamWebsite.py ${CI_PROJECT_URL}
  cache: {}
  artifacts:
    paths:
      - public
  only:
    - /Release_v*/
