stages:
  - build
  - test
  - analyze
  - check
  - document
  - package
  - deploy

variables:
  CONAN_HOME: "${CI_PROJECT_DIR}/.conan2"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task

.build:
  stage: build
  tags:
    - conan
  before_script:
    - conan remote add hahn-schickard ${CONAN_REMOTE}
    - conan profile detect --force
    - sed -i 's/^compiler.cppstd=.*/compiler.cppstd=17/' $(conan profile path default)
  script:
    - mkdir build
    - cd build
    - cmake ${CMAKE_VARIABLES} -DCMAKE_BUILD_TYPE=Release -DSTATIC_CODE_ANALYSIS=Off -G Ninja .. | tee cmake_config.log
    - cmake --build . --target all --config Release -- | tee cmake_build.log
  artifacts:
    when: always
    paths:
      - build/
      - ${CONAN_HOME}
    expire_in: 1 day

.test:
  stage: test
  tags:
    - conan
  script:
    - cd build
    - ctest --verbose
  after_script:
    - cd ..
  artifacts:
    paths:
      - build/
    expire_in: 1 day

.analyze_exe_memory:
  stage: analyze
  tags:
    - conan
  script:
    - python3 utility/run-valgrind.py ${EXE_TARGET} ${EXE_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Executable_Valgrind_Results"
    paths:
      - valgrind.log
      - valgrind.xml
    when: always
    expire_in: 1 day
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    - if: $EXE_TARGET != ""
      allow_failure: true

.analyze_test_runner_memory:
  stage: analyze
  tags:
    - conan
  script:
    - python3 utility/run-valgrind.py ${TEST_RUNNER_TARGET}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Test_Runner_Valgrind_Results"
    paths:
      - valgrind.log
      - valgrind.xml
    expire_in: 1 day
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: never
    - if: $TEST_RUNNER_TARGET != ""
      allow_failure: true

.test_coverage:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-lcov.py build ${RUN_EXE_COVERAGE} --target "${EXE_TARGET}" --args "${EXE_TARGET_ARGS}"
  coverage: '/lines[.]*:\s?(\d+[.]?\d*\%)/'
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
    paths:
      - code_coverage_report/
    expire_in: 1 day

.static_analysis:
  stage: check
  tags:
    - conan
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - gcovr --sonarqube > sonarqube_coverage.xml
    - sonar-scanner -Dsonar.host.url=${SONAR_HOST_URL} -Dsonar.projectKey=${SONAR_PROJECT_KEY} -Dsonar.token=${SONAR_TOKEN} -Dsonar.coverageReportPaths=sonarqube_coverage.xml
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
    paths:
      - sonarqube_coverage.xml
    expire_in: 1 day
  allow_failure: true

.lint:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-clang-tidy.py -build build --all-threads --verbose --export-fixes
  artifacts:
    when: on_failure
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Linter_Fixes"
    paths:
      - clang-tidy-fixes/
    expire_in: 1 day
  allow_failure: true

.format:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-clang-format.py --dirs includes/ sources/ unit_tests/ --list-files
  artifacts:
    when: on_failure
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Formatter_Fixes"
    paths:
      - clang-format-fixes/
    expire_in: 1 day
  allow_failure: true

.document:
  stage: document
  dependencies: []
  tags:
    - conan
  script:
    - doxygen Doxyfile
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
    paths:
      - docs/code_documentation/html/
    expire_in: 1 day

.package:
  stage: package
  dependencies: []
  tags:
    - conan
  before_script:
    - VERSION=$(python3 ./utility/.getVersionFromTag.py)
    - PROJECT_NAME=$(python3 ./utility/.getProjectName.py)
  script:
    - conan remote add upload_repo ${CONAN_REMOTE}
    - conan profile detect --force
    - conan create . --version=${VERSION} --user=hahn-schickard --channel=stable --build=missing -s:h compiler.cppstd=17 -s:b compiler.cppstd=17
    - conan upload -r upload_repo --confirm ${PROJECT_NAME}/${VERSION}@hahn-schickard/stable
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'

.pages:
  stage: deploy
  tags:
    - conan
  script:
    - python3 utility/.create-static-website.py ${CI_PROJECT_URL}
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'
