include: "ci-variables.yml"

stages:
  - build
  - test
  - analyze
  - document
  - package
  - deploy

.setup:
  tags:
    - conan
  before_script:
    - conan config set storage.download_cache="${CI_PROJECT_DIR}/.conan"
    - conan config set storage.path="${CI_PROJECT_DIR}/.conan/data"
    - conan config get storage.download_cache

.build:
  extends: .setup
  stage: build
  tags:
    - conan
  script:
    - pip3 install --upgrade conan
    - conan remote add upload_repo ${CONAN_REMOTE}
    - mkdir build
    - cd build
    - cmake ${CMAKE_VARIABLES} ..
    - cmake --build . --target all --config Debug --
  artifacts:
    paths:
      - build/

build:debian-buster:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster:2.0.0
  cache: 
    key: ${CI_PROJECT_ID}_buster_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

build:debian-bullseye:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye:2.0.0
  cache: 
    key: ${CI_PROJECT_ID}_bullseye_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

build:ubuntu-18.04:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:2.0.0
  cache: 
    key: ${CI_PROJECT_ID}_ubuntu18_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

build:ubuntu-20.04:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:2.0.0
  cache: 
    key: ${CI_PROJECT_ID}_ubuntu20_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

build:fedora-32:
  extends: .build
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:2.0.0
  cache: 
    key: ${CI_PROJECT_ID}_fedora32_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

build:fedora-34:
  extends: .build
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:2.0.0
    entrypoint: ["/bin/sh", "-c"]
  cache: 
    key: ${CI_PROJECT_ID}_fedora34_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

.run_tests:
  extends: .setup
  stage: test
  tags:
    - conan
  script:
    - cd build
    - ctest --verbose
  after_script:
    - cd ..
  artifacts:
    paths:
      - build/

run_tests:debian-buster:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster:2.0.0
  needs: ["build:debian-buster"]
  cache: 
    key: ${CI_PROJECT_ID}_buster_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

run_tests:debian-bullseye:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye:2.0.0
  needs: ["build:debian-bullseye"]
  cache: 
    key: ${CI_PROJECT_ID}_bullseye_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

run_tests:ubuntu-18.04:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:2.0.0
  needs: ["build:ubuntu-18.04"]
  cache: 
    key: ${CI_PROJECT_ID}_ubuntu18_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

run_tests:ubuntu-20.04:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:2.0.0
  needs: ["build:ubuntu-20.04"]
  cache: 
    key: ${CI_PROJECT_ID}_ubuntu20_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

run_tests:fedora-32:
  extends: .run_tests
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:2.0.0
  needs: ["build:fedora-32"]
  cache: 
    key: ${CI_PROJECT_ID}_fedora32_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

run_tests:fedora-34:
  extends: .run_tests
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:2.0.0
    entrypoint: ["/bin/sh", "-c"]
  needs: ["build:fedora-34"]
  cache: 
    key: ${CI_PROJECT_ID}_fedora34_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan

.analyze_memory_usage:
  extends: .setup
  stage: analyze
  tags:
    - conan
  script:
    - python3 utility/runValgrind.py ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Valgrind_Results"
    paths:
      - valgrind-results.log
  rules:
    - if: '$RUN_VALGRIND == "true"'
  allow_failure: true

analyze_memory_usage:debian-buster:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster:2.0.0
  needs: ["build:debian-buster"]

analyze_memory_usage:debian-bullseye:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye:2.0.0
  needs: ["build:debian-bullseye"]

analyze_memory_usage:ubuntu-18.04:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:2.0.0
  needs: ["build:ubuntu-18.04"]

analyze_memory_usage:ubuntu-20.04:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:2.0.0
  needs: ["build:ubuntu-20.04"]

analyze_memory_usage:fedora-32:
  extends: .analyze_memory_usage
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:2.0.0
  needs: ["build:fedora-32"]

analyze_memory_usage:fedora-34:
  extends: .analyze_memory_usage
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:2.0.0
    entrypoint: ["/bin/sh", "-c"]
  needs: ["build:fedora-34"]

.check_code_coverage:
  extends: .setup
  stage: analyze
  tags:
    - conan
  script:
    - python3 utility/checkCodeCoverage.py build ${RUN_VALGRIND} ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
    paths:
      - code_coverage_report/

check_code_coverage:debian-buster:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-buster:2.0.0
  needs: ["build:debian-buster", "run_tests:debian-buster"]

check_code_coverage:debian-bullseye:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-debian-bullseye:2.0.0
  needs: ["build:debian-bullseye", "run_tests:debian-bullseye"]

check_code_coverage:ubuntu-18.04:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-18.04:2.0.0
  needs: ["build:ubuntu-18.04", "run_tests:ubuntu-18.04"]

check_code_coverage:ubuntu-20.04:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-ubuntu-20.04:2.0.0
  needs: ["build:ubuntu-20.04", "run_tests:ubuntu-20.04"]

check_code_coverage:fedora-32:
  extends: .check_code_coverage
  image: ${DOCKER_REGISTRY}/hs-conan-fedora-32:2.0.0
  needs: ["build:fedora-32", "run_tests:fedora-32"]

check_code_coverage:fedora-34:
  extends: .check_code_coverage
  image: 
    name: ${DOCKER_REGISTRY}/hs-conan-fedora-34:2.0.0
    entrypoint: ["/bin/sh", "-c"]
  needs: ["build:fedora-34", "run_tests:fedora-34"]

generate_autodoc:
  stage: document
  tags:
    - conan
  script:
    - doxygen utility/Doxyfile
  cache: {}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
    paths:
      - docs/code_documentation/
    expire_in: 30 days
  allow_failure: true

.package:
  stage: package
  variables:
    GIT_STRATEGY: clone
  tags:
    - conan
  before_script:
    - pip3 install --upgrade conan
    - conan remote add upload_repo ${CONAN_REMOTE}
    - PROJECT_NAME=$(python3 ./utility/getProjectName.py)
  allow_failure: true

package:stable:
  extends: .package
  cache: 
    key: ${CI_PROJECT_ID}_buster_cache
    paths:
      - ${CI_PROJECT_DIR}/.conan
  script:
    - VERSION=$(python3 ./utility/getVersionFromTag.py)
    - conan create ./conan/ ${VERSION}@hahn-schickard/stable --build=missing
    - conan upload ${PROJECT_NAME}/${VERSION}@hahn-schickard/stable -r upload_repo
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'

pages:
  stage: deploy
  needs: ["build:debian-buster", "run_tests:debian-buster", "check_code_coverage:debian-buster", "generate_autodoc"]
  tags:
    - conan
  script:
    - python3 utility/createAmalgamWebsite.py ${CI_PROJECT_URL}
  cache: {}
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'