stages:
  - build
  - test
  - analyze
  - check
  - document
  - package
  - deploy

variables:
  CONAN_HOME: "${CI_PROJECT_DIR}/.conan2"

.build:
  stage: build
  tags:
    - conan
  before_script:
    - conan remote add --insecure hahn-schickard ${CONAN_REMOTE}
  script:
    - mkdir build && cd build
    - cmake ${CMAKE_VARIABLES} -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target all --config Release --
  artifacts:
    paths:
      - build/
      - ${CI_PROJECT_DIR}/.conan2
    expire_in: 1 days

.test:
  stage: test
  tags:
    - conan
  script:
    - cd build
    - ctest --verbose
  after_script:
    - cd ..
  artifacts:
    paths:
      - build/
    expire_in: 1 days

.analyze_memory_usage:
  stage: analyze
  tags:
    - conan
  script:
    - python3 utility/run-valgrind.py ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Valgrind_Results"
    paths:
      - valgrind.log
    expire_in: 1 days
  only:
    variables:
      - '$RUN_VALGRIND == "true"'
  allow_failure: true

.check_code_coverage:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-lcov.py build ${RUN_VALGRIND} ${VALGRIND_TARGET} ${VALGRIND_TARGET_ARGS}
  coverage: '/Total:\|(\d+.?\d+\%)/'
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
    paths:
      - code_coverage_report/
    expire_in: 1 days

.lint:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-clang-tidy.py -build build --all-threads --verbose --export-fixes
  artifacts:
    when: on_failure
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Linter_Fixes"
    paths:
      - clang-tidy-fixes/
    expire_in: 1 days
  allow_failure: true

.format:
  stage: check
  tags:
    - conan
  script:
    - python3 utility/run-clang-format.py --dirs includes/ sources/ unit_tests/ --list-files --recursive
  artifacts:
    when: on_failure
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Formatter_Fixes"
    paths:
      - clang-format-fixes/
    expire_in: 1 days
  allow_failure: true

.document:
  stage: document
  dependencies: []
  tags:
    - conan
  script:
    - doxygen Doxyfile
  artifacts:
    name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
    paths:
      - docs/code_documentation/
    expire_in: 1 days

.package:
  stage: package
  dependencies: []
  tags:
    - conan
  before_script:
    - conan remote add --insecure upload_repo ${CONAN_REMOTE}
    - PROJECT_NAME=$(python3 ./utility/.getProjectName.py)
  script:
    - VERSION=$(python3 ./utility/.getVersionFromTag.py)
    - conan profile detect --force
    - conan create . --version=${VERSION} --user=hahn-schickard --channel=stable --build=missing -s:h compiler.cppstd=17 -s:b compiler.cppstd=17
    - conan upload -r upload_repo --confirm ${PROJECT_NAME}/${VERSION}@hahn-schickard/stable
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'

.pages:
  stage: deploy
  tags:
    - conan
  script:
    - python3 utility/.create-static-website.py ${CI_PROJECT_URL}
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_TAG =~ /^Release_v/'
